<div id="footer">
  <div class="images">
    <%= link_to(image_tag("cepac.png", :border => 0, :class => "cepac"),"http://www.cobbenergycenter.com/") %>
    <!-- client wanted social buttons moved to the top right
    <span class="social">
      <%= link_to(image_tag("fb50s.png", :border => 0, :class => "fb"),"https://www.facebook.com/GasSouthBroadwaySeries") %>
      <%= link_to(image_tag("twitter50s.png", :border => 0, :class => "tr"),"http://www.twitter.com/#!/gassouthbrdway") %>
      <%= link_to(image_tag("youtube50s.png", :border => 0, :class => "yt"),"http://www.youtube.com/user/GasSouthBrdway") %>
    </span>
    -->
    <%= image_tag("flourish3.png", :border => 0, :class => "flourish") %>
  </div>
  <div id="copyright">
    <p>
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
    </p>
  </div>
</div>